/*csslint universal-selector:ffalse, ids:false, box-sizing:false, box-model:false*/


/*Universal Selector*/

* {
	box-sizing: border-box;
}


/*
Genral
*/

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	margin: 0;
	margin: 0;
}

#directions {
	border-bottom: 2px solid lightgray;
	color: black;
	font-size: 2em;
	font-weight: 200;
	letter-spacing: .065em;
	padding-bottom: 10px;
}

#map {
	border-bottom: 2px solid;
	margin: auto;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	text-align: center;
	width: 75%;
}

.main-header {
	/*background-image: url('../img/mountains.jpg');
    /*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
	/*background-image: linear-gradient(#ffa949, firebrick);*/
	background: linear-gradient(red, transparent 90%), black url("");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	padding-top: 160px;
}

.main-header,
.title {
	text-align: center;
}

.primary-content {
	padding-bottom: 95px;
	text-align: center;
}

.secondary-content {
	padding-bottom: 70px;
	padding-top: 80px;
}

.primary-content,
.secondary-content {
	margin: auto;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	width: 75%;
}

.t-border {
	border-top: 2px solid lightgrey;
}


/*ul li {
    margin-bottom: 5px;
}*/

ul,
ol {
	margin-left: 30px;
}

li {
	margin-bottom: 10px;
}

.arrow {
	margin-top: 150px;
	width: 50px;
}

img {
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
}

.wildlife {
	/*padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-bottom: 120px;*/
	/*border-width: 10px 20px;
    border-style: solid;
    border-color: #ffa949;*/
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	border-top: 10px solid black;
	box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
	margin: 105px 0 60px;
	padding: 18% 24%;
}

.callout {
	border-bottom: 3px solid;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 20px;
	padding: 0 9px 3px;
}

#main-footer {
	border-bottom: black;
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
}

p {
	font-size: 17px;
	font-color: black;
}


/*
Headline Elements and P elements
*/

@font-face {
	font-family: cursive;
	src: url("../fonts/BLESD___.otf");
}


/* entire container, keeps perspective */

.style {
	display: block;
	margin: auto;
}

.flip-container {
	perspective: 1000;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	width: 320px;
}


/* flip speed goes here */

.flipper {
	position: relative;
	transform-style: preserve-3d;
	transition: 0.6s;
}


/* hide back of pane during swap */

.front,
.back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
}


/* front pane, placed above back */

.front {
	/* for firefox 31 */
	transform: rotateY(0deg);
	z-index: 2;
}


/* back, initially hidden pane */

.back {
	transform: rotateY(180deg);
}

.title {
	border-bottom: 2px solid;
	color: white;
	font-family: 'cursive1', sans-serif;
	font-size: 3em;
	font-weight: 200;
	letter-spacing: .065em;
	padding-bottom: 10px;
}

h1 {
	font-family: 'Oleo Script', sans-serif;
	font-size: 7em;
	font-weight: 500;
	letter-spacing: .065em;
	line-height: 1.3;
	margin: 11px 0 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

h2 {
	font-size: 33px;
	font-weight: normal;
	margin-bottom: .5em;
}

h3 {
	font-size: 30px;
	margin-bottom: 1.7em;
}


/*
Floats
*/

.hey {
	float: left;
}

.resorts,
.tips {
	width: 46.5%;
}

.resorts {
	float: left;
}

.tips {
	float: right;
}

.group:after {
	clear: both;
	content: "";
	display: table;
}


/*
Colors
*/

body {
	color: #878787;
}

.main-header {
	background-color: black;
}

.wildlife {
	background-color: #434a52;
	color: darkred;
}

ul li {
	color: white;
}

h1 {
	color: darkred;
}

h3 {
	color: maroon;
}


/*Psuedo Classes*/

a:link {
	color: #878787;
	text-decoration: none;
	font-size: 23px;
}

a:visited {
	color: #878787;
}

a:hover {
	color: red;
}

a:active {
	color: #878787;
}

k a:focus {
	color: red;
}


/*
Media Queries
*/

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}
	.wildlife {
		margin: 50px 0 20px;
		padding: 10% 12%;
	}
}

@media (max-width: 768px) {
	.primary-content,
	.secondary-content {
		border-top: none;
		padding: 20px;
		width: 100%;
	}
	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
	}
	h1 {
		font-size: 5rem;
		line-height: 1.1;
	}
	.arrow {
		display: none;
	}
	.intro {
		font-size: 1rem;
	}
	.resorts,
	.tips {
		float: none;
		width: 100%;
	}
	.main-footer {
		padding: 20px 0;
	}
}

@media (max-width: 375px) {
	h1 {
		font-size: 3rem;
	}
}